

 html { margin: 20px; }

body {
  width: 100%; 
  margin:0;
  padding:8px;
  background: black;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 20;
  font-smooth: never;
  -webkit-font-smoothing : none;
  color:white;
  /*align-content: center;*/
  /*text-align: center;*/
}